<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.med8.ilocator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    //Allows for ? location stuff
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    //Allows for fine location sensors (GPS)    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignupActivity"
            android:label="@string/signup"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:label="@string/dashboard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ObjectsListActivity"
            android:label="@string/objects"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/maps"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MapViewActivity"
            android:label="@string/mapview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ManagementActivity"
            android:label="@string/management"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ARViewActivity"
            android:label="@string/arview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ARApplicationActivity"
            android:label="@string/arview"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".HeatmapViewActivity"
            android:label="@string/heatmapview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddObjectActivity"
            android:label="@string/addobject"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EditObjectActivity"
            android:label="@string/editobject"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddPhotoActivity"
            android:label="@string/addphoto"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AlertDialogViewActivity"
            android:label="@string/update"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".AlertDialogViewActivity2"
            android:label="@string/update"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CategoriesActivity"
            android:label="@string/categories"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TasksActivity"
            android:label="@string/tasks"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UsersActivity"
            android:label="@string/users"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UpdateObjectPositionActivity"
            android:label="@string/updatePosition"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RunesHeatMapActivity"
            android:label="@string/mapview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HeatView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>